@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maragsa&display=swap');
@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Inter', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
  }
}

@layer components {
  .font-serif {
    font-family: 'Playfair Display', serif;
  }
  /* for brand text*/
  .brand-text {
  font-family: 'Maragsa', serif;
  color: #588c7e;
  letter-spacing: 1px;
}
.nav-link {
  font-family: 'Maragsa', serif;
  color: #1A1A1A;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #9b6b30; /* Golden hover */
}

.active-link {
  color: #1A1A1A; /* Keeps same color as normal text */
}
.sub-titel{
  color: black;
  font-family: 'Tangerine';
}
.form-bar-txt{
  font-family: 'Sansation';
}


}
